{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <!-- Signup -->
    <div id="signup">
        <!-- Title -->
        <form action="" method="POST">
            {% csrf_token %}
            <div class="text-center mb-7">
                <h3 class="mb-0">Créer votre compte.</h3>
                <p>Remplir le formulaire pour démarrer.</p>
            </div>
            <!-- End Title -->

            <div class="js-form-message mb-4">
            {% if form.errors %}
                    {{ form.errors.email }}
                    {{ form.errors.password1 }}
                    {{ form.errors.password2 }}
            {% endif %}
            </div>

            <!-- Input Group -->
            <div class="js-form-message mb-4">
                <label class="input-label">Email</label>
                <div class="input-group input-group-sm mb-2">
                    <input type="email" class="form-control" name="email" id="id_email" placeholder="Email"
                           aria-label="Email" required
                    data-msg="Please enter a valid email address.">
                </div>
            </div>
            <!-- End Input Group -->

            <!-- Input Group -->
            <div class="js-form-message mb-4">
                <label class="input-label">Mot de passe</label>
                <div class="input-group input-group-sm mb-2">
                    <input type="password" class="form-control" name="password1" id="id_password1"
                           placeholder="Mot de passe" aria-label="Password" required
                    data-msg="Your password is invalid. Please try again.">
                </div>
            </div>
            <!-- End Input Group -->

            <!-- Input Group -->
            <div class="js-form-message mb-4">
                <label class="input-label">Confirmation du mot de passe</label>
                <div class="input-group input-group-sm mb-2">
                    <input type="password" class="form-control" name="password2" id="id_password2"
                           placeholder="Confirmation du mot de passe" aria-label="Confirm Password" required
                    data-msg="Password does not match the confirm password.">
                </div>
            </div>
            <!-- End Input Group -->
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div class="mb-3">
                <button type="submit" class="btn btn-sm btn-primary btn-block">Enregistrement</button>
            </div>
        </form>

        <div class="text-center mb-3">
            <span class="divider divider-xs divider-text">OU</span>
        </div>

        <a class="btn btn-sm btn-ghost-secondary btn-block mb-2" href="#">
            <span class="d-flex justify-content-center align-items-center">
                <i class="fab fa-google mr-2"></i>
                Enregistrement avec Google
            </span>
        </a>

        <div class="text-center">
            <span class="small text-muted">Vous avez déjà un compte?</span>
            <a class="js-animation-link small font-weight-bold" href="javascript:;"
                data-hs-show-animation-options='{
                    "targetSelector": "#login",
                    "groupName": "idForm"
                }'>Connexion
            </a>
        </div>
    </div>
    <!-- End Signup -->
</div>

{% endblock content %}
