{% extends 'base.html' %}

{% load static %}


    {% block content %}

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content">
        <div class="home-slider position-relative overflow-hidden">
            <div id="sliderSyncingNav" class="js-slick-carousel slick"
                data-hs-slick-carousel-options='{
                    "dots": true,
                    "dotsClass": "d-xl-none slick-pagination mb-3 position-absolute right-0 left-0 bottom-0",
                    "infinite": true,
                    "asNavFor": "#sliderSyncingThumb"
                }'>
                {% for movie_top5 in movies_top5 %}

                <div class="bg-img-hero d-flex align-items-center min-h-676rem slider-gradient" style="background-image: url({{ movie_top5.image_url }});">
                    <div class="container">
                        <div class="mx-3 mx-md-5  col-xl-5 px-0">
                            <h1 class="display-3 mb-3"><a href="../single-movies/single-movies-v2.html" class="h-w-primary">{{ movie_top5.title|truncatechars:48}}</a></h1>
                            <div class="mb-4d">
                                <ul class="list-unstyled nav nav-meta nav-meta__white">
                                    <li class="">{{movie_top5.file_date}}</li>
                                    <li class="">{{movie_top5.creator.get_category_display}}</li>
                                    {% if movie_top5.creator.youtube_name %}
                                        <li class=""><a href="https://www.youtube.com/{{movie_top5.creator.youtube_name}}" target="_blank">{{movie_top5.creator}}</a></li>
                                    {% elif movie_top5.creator.rumble_id %}
                                        <li class=""><a href="https://rumble.com/user/{{movie_top5.creator.rumble_id}}" target="_blank">{{movie_top5.creator}}</a></li>
                                    {% else %}
                                        <li class=""><a href="#" target="_blank">{{movie_top5.creator}}</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="d-md-flex">
                                <a href="{% url 'video3domapp:Visionnage' movie_top5.uuid %}" class="btn btn-primary px-6 py-3d btn-sm mb-3 mb-md-0">VISIONNER</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>

            <div class="d-none d-xl-flex position-xl-absolute col-xl-6 mr-3 right-0 bottom-0  mb-xl-12  slider-m-0 flex-column">
                <h4 class="text-white font-size-22 font-weight-normal mb-3">Nouvellement sur 3dom</h4>
                <div id="sliderSyncingThumb" class="js-slick-carousel slick slick-gutters-1 slick-transform-off"
                    data-hs-slick-carousel-options='{
                        "infinite": true,
                        "slidesToShow": 8,
                        "isThumbs": true,
                        "asNavFor": "#sliderSyncingNav",
                        "responsive": [{
                            "breakpoint": 1199,
                            "settings": {
                                "slidesToShow": 2
                            },
                            "breakpoint": 768,
                            "settings": {
                                "slidesToShow": 2
                            }
                        }]
                    }'>
                    {% for movie_top5 in movies_top5 %}
                            <div class="my-1d" style="cursor: pointer;">
                                <img class="img-fluid" style="width:204px; height:120px;" src="{{ movie_top5.image_url }}" alt="Image Description">
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <section class="space-1 bg-gray-2800">
            <div class="container my-3">
                <div class="row">
                    <div class="offset-md-5 offset-lg-4 col-md-7 col-lg-8">
                        <!-- Nav -->
                        <div class="text-center tab-nav__v1">
                            <ul class="nav mb-2 mb-md-7" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-one-code-example2-tab" data-toggle="pill" href="" role="tab" aria-controls="pills-one-code-example2" aria-selected="true">Les videos à ne pas manquer sur les réseaux .. </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Nav -->
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Tab Content -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="pills-one-code-example2" role="tabpanel" aria-labelledby="pills-one-code-example2-tab">
                                <div class="row">

                                    <div class="col">
                                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 mx-n2">
                                            {% for movie in movies %}
                                                    <div class="col px-2 mb-5 mb-md-5">
                                                        <div class="product">
                                                            <div class="product-image mb-2">
                                                                <a
                                                                        href="{% url 'video3domapp:Visionnage' movie.uuid %}"
                                                                        class="d-inline-block position-relative stretched-link">
                                                                    <img class="img-fluid" {% if movie.image %}
                                                                         src="{{ movie.image.url }}"
                                                                         {% else %}
                                                                         src="{{ movie.image_url }}"
                                                                         {% endif %}
                                                                         alt="Image Description"></a>
                                                            </div>
                                                            <div class="product-meta font-size-12 mb-1">

                                                            {% if movie.creator.youtube_name %}
                                                                <span><a href="https://www.youtube.com/{{movie.creator.youtube_name}}" target="_blank" class="h-g-primary">{{ movie.creator }}</a></span>
                                                            {% elif movie.creator.rumble_id %}
                                                                <span><a href="https://rumble.com/user/{{movie.creator.rumble_id}}" target="_blank" class="h-g-primary">{{ movie.creator }}</a></span>
                                                            {% else %}
                                                                <span><a href="#" target="_blank" class="h-g-primary">{{ movie.creator }}</a></span>
                                                            {% endif %}

                                                            </div>
                                                            <div class="product-title font-weight-bold font-size-1"><a href="https://www.youtube.com/{{movie.creator.youtube_name}}">
                                                                {% if movie.creator.alternate_comment %}
                                                                    {{ alt_comments|random }}
                                                                {% else %}
                                                                    {% firstof movie.description movie.file_tags|safe %}
                                                                {% endif %}
                                                                </a></div>
                                                        </div>
                                                    </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- End Tab Content -->
                    </div>
                </div>

                <div class="d-md-flex align-items-center justify-content-between">
                    <div class="font-secondary font-size-1 font-weight-normal text-gray-3200 text-center text-md-left mb-3 mb-md-0">Page {{ movies.number }} sur {{ movies.paginator.num_pages }}</div>
                    <nav aria-label="Page bottom navigation">
                        <ul class="pagination custom_pagination justify-content-center justify-content-md-start mb-0">
                            {% if movies.has_previous %}
                                <a class="page-link" href="?page={{ movies.previous_page_number }}">Page précédente<i class="fas fa-long-arrow-alt-left ml-2 font-size-11"></i></a>
                            {% endif%}
                            {% for page in movies.paginator.page_range %}
                                {% if movies.number == page %}
                                    <li class="page-item active"><a class="page-link" href="?page={{ page }}" >{{ page }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if movies.has_next %}
                                <a class="page-link" href="?page={{ movies.next_page_number }}">Page suivante<i class="fas fa-long-arrow-alt-right ml-2 font-size-11"></i></a>
                            {% endif%}
                        </ul>
                    </nav>
                </div>

            </div>
        </section>


        <section class="bg-gray-1100 dark space-2">
            <div class="container px-md-4">
                <!-- Nav -->
                <div class="text-center tab-nav__v1">
                    <ul class="nav mb-7" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-one-code-features-tab-1" data-toggle="pill"
                               href="#pills-one-code-features-1" role="tab" aria-controls="pills-one-code-features-1"
                               aria-selected="true">Comment utiliser Freedom sur vos terminaux</a>
                        </li>
                    </ul>
                </div>
                <!-- End Nav -->

                <!-- Tab Content -->
                <div class="tab-content slick__tab mb-12 mb-md-6">
                    <div class="tab-pane fade show active" id="pills-one-code-features-1" role="tabpanel" aria-labelledby="pills-one-code-features-tab-1">
                        <div class="row">
                            <div class="col-md-6 col-lg-7 col-xl-9 mb-2 mb-md-0">
                                <div class="js-slick-carousel slick slick-gutters-2"
                                    data-hs-slick-carousel-options='{
                                        "prevArrow": "<span class=\"fas fa-chevron-left dark slick-arrow slick-arrow-v1 slick-arrow-v11 left slick-arrow-right rounded-circle position-absolute bottom-0\"></span>",
                                        "nextArrow": "<span class=\"fas fa-chevron-right dark slick-arrow slick-arrow-v1 slick-arrow-v11 right slick-arrow-right rounded-circle position-absolute\"></span>",
                                        "slidesToShow": 4,
                                        "responsive": [{
                                            "breakpoint": 1199,
                                            "settings": {
                                                "slidesToShow": 2
                                            }
                                        }, {
                                            "breakpoint": 996,
                                            "settings": {
                                                "slidesToShow": 1
                                            }
                                        }]
                                    }'>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">15 Million Merit</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">All Backed Up</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">Climax</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">Chapter 3</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">Home</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">15 Million Merit</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">15 Million Merit</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-3 d-flex">
                                <header class="max-w-370  mb-xl-8 title-dash">
                                    <h5 class="text-white display-7 mb-3 font-weight-semi-bold">Une vidéo pour
                                        chaque équipement.</h5>
                                </header>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-two-code-features-2" role="tabpanel" aria-labelledby="pills-two-code-features-tab-2">
                        <div class="row">
                            <div class="col-md-6 col-lg-7 col-xl-9 mb-2 mb-md-0">
                                <div class="js-slick-carousel slick slick-gutters-2"
                                    data-hs-slick-carousel-options='{
                                        "prevArrow": "<span class=\"fas fa-chevron-left dark slick-arrow slick-arrow-v1 slick-arrow-v11 left slick-arrow-right rounded-circle position-absolute bottom-0\"></span>",
                                        "nextArrow": "<span class=\"fas fa-chevron-right dark slick-arrow slick-arrow-v1 slick-arrow-v11 right slick-arrow-right rounded-circle position-absolute\"></span>",
                                        "slidesToShow": 4,
                                        "responsive": [{
                                            "breakpoint": 1199,
                                            "settings": {
                                                "slidesToShow": 2
                                            }
                                        }, {
                                            "breakpoint": 996,
                                            "settings": {
                                                "slidesToShow": 1
                                            }
                                        }]
                                    }'>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">15 Million Merit</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">All Backed Up</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">Climax</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">Chapter 3</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">Home</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">15 Million Merit</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">15 Million Merit</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-3 d-flex">
                                <header class="max-w-370  mb-xl-8 title-dash">
                                    <h3 class="text-white display-7 mb-3 font-weight-semi-bold">Featured TV Episode Premieres</h3>
                                </header>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-three-code-features-3" role="tabpanel" aria-labelledby="pills-three-code-features-tab-3">
                        <div class="row">
                            <div class="col-md-6 col-lg-7 col-xl-9 mb-2 mb-md-0">
                                <div class="js-slick-carousel slick slick-gutters-2"
                                    data-hs-slick-carousel-options='{
                                        "prevArrow": "<span class=\"fas fa-chevron-left dark slick-arrow slick-arrow-v1 slick-arrow-v11 left slick-arrow-right rounded-circle position-absolute bottom-0\"></span>",
                                        "nextArrow": "<span class=\"fas fa-chevron-right dark slick-arrow slick-arrow-v1 slick-arrow-v11 right slick-arrow-right rounded-circle position-absolute\"></span>",
                                        "slidesToShow": 4,
                                        "responsive": [{
                                            "breakpoint": 1199,
                                            "settings": {
                                                "slidesToShow": 2
                                            }
                                        }, {
                                            "breakpoint": 996,
                                            "settings": {
                                                "slidesToShow": 1
                                            }
                                        }]
                                    }'>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">15 Million Merit</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">All Backed Up</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">Climax</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">Chapter 3</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">Home</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">15 Million Merit</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image mb-1">
                                            <a class="d-inline-block position-relative stretched-link" href="../single-episodes/single-episodes-v2.html">
                                                <img class="img-fluid" src="https://placehold.it/225x127" alt="Image Description">
                                            </a>
                                        </div>
                                        <div class="product-title">
                                            <a class="d-inline-block" href="../single-episodes/single-episodes-v2.html">
                                                <span class="text-gray-1300 font-size-12">S01E01</span>
                                                <div class="mb-0 font-weight-bold font-size-1">15 Million Merit</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-3 d-flex">
                                <header class="max-w-370  mb-xl-8 title-dash">
                                    <h3 class="text-white display-7 mb-3 font-weight-semi-bold">Featured TV Episode Premieres</h3>
                                </header>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Tab Content -->

            </div>
        </section>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    {% endblock content %}

